[
    {db, [
        {pools, [
            {pool1, [
                {name, {local, name1}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 20}
            ], [
                {host, "localhost"},
                {port, 3306},
                {user, "root"},
                {password, "12345678"},
                {database, "db1"}
            ]},
            %%      {pool2, [
            %%        {name, {local, name2}},
            %%        {worker_module, mysql},
            %%        {size, 5},
            %%        {max_overflow, 10}
            %%      ], [
            %%        {host, "localhost"},
            %%        {port, 3306},
            %%        {user, "root"},
            %%        {password, "123456"},
            %%        {database, "db2"}
            %%      ]}
        ]}
    ]}
].
